{%- assign show_section = article.metafields.article-autoplay.show_section -%}
{%- assign video_url = article.metafields.article-autoplay.video_url -%}
{%- assign image_url = article.metafields.article-autoplay.image[0].src -%}
{%- assign autoplay_false = article.metafields.article-autoplay.autoplay_off -%}
{%- assign heading = article.metafields.article-autoplay.heading -%}
{%- assign text = article.metafields.article-autoplay.text -%}
{%- assign button_label = article.metafields.article-autoplay.button_label -%}
{%- assign button_link = article.metafields.article-autoplay.button_link -%}

{%- if show_section -%}
  <div class="article-video section-container">
    {%- if button_label != blank and button_link != blank or heading != blank or text != blank -%}
      <div class="article-video-content">
        {%- if heading != blank -%}
          <h2>
            {{ heading }}
          </h2>
        {%- endif -%}
        {%- if text != blank -%}
          <p>
            {{ text }}
          </p>
        {%- endif -%}
        {%- if button_label != blank and button_link != blank -%}
          <a href="{{ button_link }}" class="Button Button--secondary">
            {{ button_label }}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}

    {% render 'autoplay-video-metafields',
      video_url: video_url, image_url: image_url, autoplay_false: autoplay_false  %}
  </div>

{%- endif -%}