{% comment %}
  <!-- /snippets/bv-inline-ratings.liquid -->
  <!-- Bazaarvoice Inline Rating -->
  <!-- Bazaarvoice Shopify Integration Version 2.1 -->
{% endcomment %}
  <div data-bv-show="inline_rating" data-bv-product-id="{{product.selected_or_first_available_variant.sku}}" data-bv-redirect-url="{{ product.url }}"></div>
{% comment %}
  <!-- End Bazaarvoice Inline Rating -->
{% endcomment %}