{% comment %}
  <!-- /snippets/bv-questions-answers.liquid -->
  <!-- Bazaarvoice Questions & Answers -->
{% endcomment %}
<div data-bv-show="questions" data-bv-product-Id="{{product.selected_or_first_available_variant.sku}}">
  {% if product.metafields.bazaarvoice.questions %}
    {{ product.metafields.bazaarvoice.questions }}
  {% endif %}
</div>
{% comment %}
  <!-- End Bazaarvoice Questions & Answers -->
{% endcomment %}