<div class="Product Product--large QuickViewSkeleton">
  <div class="Product__Wrapper">
    <div class="Product__Gallery Product__Gallery--withThumbnails">
      <div class="Product__Slideshow Carousel">
        <div class="Product__SlideItem Product__SlideItem--image">
          <div class="AspectRatio AspectRatio--withFallback skeleton" style="padding-bottom: 100.0%; --aspect-ratio: 1.0;">
          </div>
        </div>
      </div>
  
      <div class="Product__SlideshowNav Product__SlideshowNav--thumbnails">
        <div class="Product__SlideshowNavScroller flickity-enabled is-draggable">
            <span class="Product__SlideshowNavImage AspectRatio is-selected skeleton" style="--aspect-ratio: 1"></span>
            <span class="Product__SlideshowNavImage AspectRatio is-selected skeleton" style="--aspect-ratio: 1"></span>
            <span class="Product__SlideshowNavImage AspectRatio is-selected skeleton" style="--aspect-ratio: 1"></span>
        </div>
      </div>
    </div>
    <div class="Product__InfoWrapper">
      <div class="Product__Info">
        <div class="Container">
          <div class="ProductMeta">
            <div class="breadcrumb skeleton"></div>
            <h2 class="ProductMeta__Vendor skeleton"></h2>
            <div style="display: flex;">
              <h1 class="ProductMeta__Title Heading skeleton"></h1>
              <div class="ProductMeta__PriceList Heading">
                <span class="ProductMeta__Price skeleton"></span>
                <span class="ProductMeta__Price skeleton"></span>
              </div>
            </div>
        
            
            <div class="ProductMeta__Description">
              <p class="skeleton"></p><p class="skeleton"></p><p class="skeleton"></p>
              <p class="skeleton"></p><p class="skeleton"></p><p class="skeleton"></p>
              <p class="skeleton"></p><p class="skeleton"></p><p class="skeleton"></p>
              <p class="skeleton"></p><p class="skeleton"></p><p class="skeleton"></p>
              <p class="skeleton"></p><p class="skeleton"></p><p class="skeleton"></p>
              <p class="skeleton"></p><p class="skeleton"></p><p class="skeleton"></p>
            </div>
        </div>
        <div class="Button ProductMeta__ViewMore skeleton"></div>
      </div>
    </div>
  </div>
  </div>
</div>