{% render 'shogun-products', content: page %}
<div class="master-brand-template">
  {% render 'background-with-text-metafields' %}

  {% render 'slideshow-with-block-metafields-1' %}

  {% render 'slideshow-with-block-metafields-2' %}

  {% render 'slideshow-with-block-metafields-3' %}

  {% render 'slideshow-with-block-metafields-4' %}

  {% render 'slideshow-with-block-metafields-5' %}

  {% render 'shop-by-fully-expanded-1' %}

  {% render 'shop-by-fully-expanded-2' %}

  {% render 'image-product-carousel-mb' %}

  {% render 'blog-posts-metafields' %}

  {% render 'master-page-autoplay-video' %}

  {% render 'text-with-image-metafields' %}

  {% render 'master-page-button' %}

</div>
{{ page.metafields.shogun.optimizer }}
